.yoload-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.yoload {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    background-image: url("loader.svg");
    background-repeat: no-repeat;
    background-position: center;
}
